@import 'colors.css';


h1 {
    text-align: center;
    color: #ffffff;
}

form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background: var(--color-complement);
    border-radius: 8px;
    box-shadow: 0 0 15px 0 #43485E ;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
}

input[type="text"],
input[type="number"],
input[type="date"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
