@import "styles.css";

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

ul{
    list-style: none;
}

#informe li{
    border: 1px solid;
    border-color: white;
    margin-top: 15px;
    color: white;
    text-align: center;
    font-size: 20px;
    width: 50%;
    margin: auto;
    margin-bottom: inherit;
}

label{
    margin-top: 10px;
    align-self: center;
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
}

select{
    font-size: 20px;
    width: 200px;
    margin-top: auto;
    align-self: center;
    margin-bottom: 10px;
}

input[type="text"]{
    font-size: 20px;
    width: 200px;
    margin-top: auto;
    align-self: center;
}

button{
    margin-top: 10px;
    align-self: center;
    margin-bottom: 10px;
    height: 60px;
}