.horizontal{
    display: flex;
    margin-left: 15px;
    margin: 15px;
    flex-direction: row;
}
ul{
    list-style: none;
}
li{
    border: 1px solid;
   border-color: white;
    margin-top: 15px;
    color: white;
}
h2{
   margin: 0;
   margin-bottom: 0;
}
.info{
    margin-right: 30px;
}
img{
    margin-top: 15px;
    height: 80px;
}
.papelera{

    display: flex;
    margin-top: 50px;
}
textarea{
    font-size: 16px;
    background-color: transparent; 
    color: white;
    border: none; 
    resize: none; 
    pointer-events: none; 
    
}

.horizontal2{
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0;
    margin-bottom: 0;
    flex-direction: row;
}

