.horizontal{
    display: flex;
    margin-left: 15px;
    flex-direction: row;
}
ul{
    list-style: none;
}
li{
    border: 1px solid;
   border-color: white;
    margin-top: 15px;
    color: white;
}
h2{
   margin: 0;
   margin-bottom: 0;
   margin-top: 15px;
}
.info{
    margin-right: 30px;
}
img{
    margin-top: 15px;
    height: 80px;
}
.suelo{
    margin-bottom: 15px;
}