@import "colors.css";
html, body{
    margin: 0;
    padding: 0;
    background-color: var(--color-primary);
    font-family: Arial, sans-serif;
}

button{
    height: 50px;
    width: 100px;
    background-color: var(--color-secondary);
    border-radius: 15px;
    border: 3px solid var(--color-terciary);
    color: white;
    font-weight: bold;
    font-size: 20px;
  	font-family: Arial, sans-serif;
}

button:hover{
    cursor: pointer;
    background-color: var(--color-secondary-accent);
}

textarea{
    resize: none;
}