<link rel="stylesheet" href="../style/header.css">
<div class="cont">

    <h1 class="titulo">Registro oficial de criminales Wesen de la Haya.</h1>
   
    <ul class="menu">
        <li><a onclick="location.href='../view/formularioWesen.html'">Añadir wesen </a></li>
        <li><a onclick="location.href='../view/formularioCrimen.html'">Añadir crimen</a></li>
        <li><a onclick="location.href='../view/listadoWesen.html'">Ver wesens</a></li>
        <li><a onclick="location.href='../view/listadoCrimen.html'">Ver crimenes</a></li>
        <li><a onclick="location.href='../view/informe.html'">Informe</a></li>
        <li class="slider"></li>
    </ul>
</div>