<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/formulario.css">
    <link rel="stylesheet" href="../style/styles.css">
    <script src="../controller/formularioWesenController.js" defer></script>
    <script src="../model/Wesen.js" defer></script>
    <script src="../data/WesenDao.js" defer></script>
    <script src="../data/CrimenDao.js"></script>
    <script type="module" src="../components/module.js"></script>
    <title>FORMULARIO WESEN</title>
</head>
<body>

    <app-header></app-header>
    <h1>Formulario Wesen</h1>
    <form id="wesenForm" onsubmit="return false"  >
        <label for="nombreApellidos">Nombre y Apellidos:</label>
        <input type="text" id="nombreApellidos" value="" required><br>

        <label for="direccion">Dirección:</label>
        <input type="text" id="direccion" value="" required><br>

        <label for="nacionalidad">Nacionalidad:</label>
        <input type="text" id="nacionalidad" value="" required><br>

        <label for="tipo">Tipo:</label>
        <input type="text" id="tipo" value="" required><br>

        <label for="crimenes">Crímenes:</label>
        <select id="crimenes" rows="4" cols="50" required multiple>
        <option value="" disabled>Seleccione un crimen</option>
        </select><br>

        <label for="foto">Foto:</label>
        <input type="file" id="foto" accept="image/*" onchange="previewImage(this)" required><br>
        <img src="" alt="" id="previewImg">

        <label for="apercibido">Apercibido:</label>
        <input type="checkbox" id="apercibido" checked><br>

        <label for="gravedadFaltas">Gravedad Faltas:</label>
        <select name="gravedadFaltas" id="gravedadFaltas" required>
            <option value="" disabled >Seleccione la gravedad :</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select><br><br>

        <label for="wesenComplices">Wesen Cómplices:</label>
        <input type="text" id="wesenComplices" value="" required><br>

        <label for="sicario">Sicario:</label>
        <input type="text" id="sicario" value="" required><br>

        <label for="castigo">Castigo:</label>
        <textarea id="castigo" rows="4" cols="50" required></textarea><br>

        <label for="fechaCondena">Fecha Condena:</label>
        <input type="date" id="fechaCondena" value="" required><br>

        <button type="submit" onclick="guardarWesen()">Enviar</button>
    </form>
    <app-footer></app-footer>
</body>
</html>