<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/formulario.css">
    <link rel="stylesheet" href="../style/styles.css">
    <title>FORMULARIO WESEN</title>
</head>
<body>

    <h1>Formulario Wesen</h1>
    <form id="wesenForm">
        <label for="nombreApellidos">Nombre y Apellidos:</label>
        <input type="text" id="nombreApellidos" value=""><br>

        <label for="direccion">Dirección:</label>
        <input type="text" id="direccion" value=""><br>

        <label for="nacionalidad">Nacionalidad:</label>
        <input type="text" id="nacionalidad" value=""><br>

        <label for="tipo">Tipo:</label>
        <input type="text" id="tipo" value=""><br>

        <label for="crimenes">Crímenes:</label>
        <input type="text" id="crimenes" value=""><br>

        <label for="foto">Foto:</label>
        <input type="text" id="foto" value=""><br>

        <label for="apercibido">Apercibido:</label>
        <input type="checkbox" id="apercibido" checked><br>

        <label for="gravedadFaltas">Gravedad Faltas:</label>
        <input type="number" id="gravedadFaltas" value=""><br>

        <label for="wesenComplices">Wesen Cómplices:</label>
        <input type="text" id="wesenComplices" value=""><br>

        <label for="sicario">Sicario:</label>
        <input type="text" id="sicario" value=""><br>

        <label for="castigo">Castigo:</label>
        <input type="text" id="castigo" value=""><br>

        <label for="fechaCondena">Fecha Condena:</label>
        <input type="date" id="fechaCondena" value=""><br>

        <button type="submit">Enviar</button>
    </form>
</body>
</html>