<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORMULARIO CRIMENES</title>
</head>
<body>
    <h1>Formulario Crimen</h1>
    <form id="crimenForm">
        <label for="denominacion">Denominación del Crimen:</label>
        <input type="text" id="denominacion" value=""><br>

        <label for="fechaRealizacion">Fecha aproximada de Realización:</label>
        <input type="date" id="fechaRealizacion" value=""><br>

        <label for="involucradosKehrseiter">Involucrados Kehrseiter:</label>
        <input type="text" id="involucradosKehrseiter" value=""><br>

        <label for="victimas">Número de Víctimas:</label>
        <input type="number" id="victimas" value="0"><br>

        <label for="descripcion">Descripción detallada del Crimen:</label>
        <textarea id="descripcion" rows="4" cols="50"></textarea><br>

        <input type="submit" value="Enviar">
    </form>
</body>
</html>