<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wesen Peligrosos</title>
    <script type="module" src="../components/module.js"></script>
    <script src="../controller/indexController.js"></script>
    <script src="../model/Wesen.js"></script>
    <script src="../model/Crimen.js"></script>
    <script src="../data/WesenDao.js"></script>
    <script src="../data/CrimenDao.js"></script>
    <link rel="stylesheet" href="../style/paginaindex.css"/>
  </head>
  <body>
    <app-header></app-header>
    <section>
      <h1>Descubre el Mundo de los Wesen</h1>
      <p>
        Bienvenido a nuestro sitio sobre los Wesen más peligrosos. Explora el
        oscuro y misterioso mundo de estas criaturas.
      </p>
    </section>

    <section id="about">
      <h2>Que Investigamos</h2>
      <p>
        El Consejo Wesen es una antigua institución que fue creada en la edad
        media para controlar a los wesen más violentos que atacaban los pueblos
        de kehrseiter (humanos normales), razón por la cual luego todos los
        wesen eran perseguidos en venganza por las matanzas. El Consejo tiene
        entre otras atribuciones: detectar a los wesen peligrosos y
        "eliminarlos", castigar a los wesen que se muestran públicamente sin
        razón alguna, y en general hacer cumplir las normas del Consejo, que
        tienen como intención principal conservar la paz entre wesen y
        kehrseiter. El Consejo Wesen tiene su sede en La Haya, junto a la Corte
        Internacional de Justicia.
      </p>
      <img src="../img/logo.png" alt="Imagen Logo CazaWesens">
    </section>

    <section id="about">
      <h2>Sobre Nosotros</h2>
      <p>
        Somos apasionados por estudiar y entender los Wesen. Nuestra misión es
        proporcionar información detallada sobre estas criaturas para que estés
        preparado para cualquier encuentro inesperado.
      </p>
      <img src="../img/mesaredonda.png" alt="Imagen CazaWesens Mesa Redonda">
    </section>

    <app-footer></app-footer>
  </body>
</html>
