<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../model/Wesen.js"></script>
  <script src="../data/WesenDao.js"></script>
  <script  src="../controller/listadoWesenController.js" defer></script> 
  <script type="module" src="../components/module.js"></script>
  <link rel="stylesheet" href="../style/styles.css">
  <link rel="stylesheet" href="../style/listado.css">
</head>
<body>
<app-header></app-header>
<main>
   <ul id="listaW">
    
   </ul>
    
</main>
<app-footer></app-footer>
</body>
</html>